* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div {
    display: block;
}
body {
    margin: 0;
    padding: 0;
    font-family: apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1c243b;
    font-family: AlwynNew,Helvetica Neue,-apple-system,sans-serif;
}
#root .main-logo {
   width: 250px;
   display: block;
   margin: 30px auto;

}
.UnlockWalletPage__title {
    color: #fff;
    font-family:  'AlwynNew','Helvetica Neue','-apple-system',sans-serif; 
    text-align: center;
    font-size: 23px;
    font-weight: normal;
}
.UnlockWalletCard {
    width: 440px;
    height: 430px;
    background: #242f4b;
    display: block;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
a {
    display: inline-block;
    margin: 15px 0px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 600;
    color: #92a2d6;
    cursor: pointer;
}
a :hover {
    color: #fff;
}
.UnlockWalletViaMnemonicPhrase__title {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    position: relative;
    top: 10px;
}
textarea {
    width: 360px;
    height: 70px;
    background-color: #404c6e;
    position: relative;
    left: 40px;
    border: none;
    border-radius: 4px;
    top: 22px;
}
textarea:hover {
    background-color: #404c6e;
}
.UnlockWalletViaMnemonicPhrase__mnemonic-instructions {
    text-align: center;
    color: #92a2d6;
    font-size: 12px;
    position: relative;
    top: 10px;
}
.UnlockWalletViaMnemonicPhrase__password-input {
    position: relative;
    top: 30px;
    width: 360px;
    height: 50px;
    background-color: #404c6e;
    left: 40px;
    border: none;
    border-radius: 4px;
}
.UnlockWalletViaMnemonicPhrase__password-input:hover {
    background-color: #404c6e;
}
.UnlockWalletViaMnemonicPhrase__password-input::placeholder {
    color: #92a2d6; 
}
.UnlockWalletViaMnemonicPhrase__mnemonic-instructions_1 {
    position: relative;
    top: 25px;
    text-align: center;
    color: #92a2d6;
    font-size: 14px;
}
.UnlockWalletCard__warning {
    color: #ed1e5c;
    font-size: 12px;
    font-weight: 550;
    width: 330px;
    text-align: center;
    position: relative;
    top: 57px;
    left: 50%;
    transform: translate(-50%,-50%);
}
button {
    background: linear-gradient(#29b5ea,#21ecbb);
    width: 360px;
    height: 50px;
    position: relative;
    top: 30px;
    left: 40px;
    border: 1px solid #fff;  
} 
.GradientButton-undefined-GradientButton {
    border-radius: 4px;
}
.GradientButton__title {
    color: #fff;
    font-size: 20px;
}